doctype html
body
    head
        title STEM Team Polling
        link(rel="stylesheet" href="main.css")
    body
        section.hero.is-primary.is-fullheight
            .hero-body: .container
                h1.title MKA STEM Team Survey
                h1.subtitle This site is currently under construction.