@import "bulma";

.is-full-height{height:100%}

.survey-form{
    padding:10px;

    @media screen and (min-width: $tablet){
        max-width:400px;
    }
}

.is-text-aligned-right{
    text-align:right;
}

.selection-tile{
    cursor:pointer;

    transition:transform .2s;
    &:hover{
        transform:scale(1.05, 1.05);
    }

    &.is-selected{
        transform:scale(0.95, 0.95);
    }

    height:100%;
}